data {
    display: none;
}

h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 0.3rem;
}

.panel {
    margin-bottom: 5rem;
    width: 900px;
}

.sub-panel {
    margin-bottom: 3rem;
    width: 900px;
}

.ssub-panel {
    margin-bottom: 3rem;
    margin-right: 1rem;
}

body {
    color: #333;
    font-size: 15px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.info-item {
    margin-bottom: 0.3rem;
}

.info-key {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 1rem;
}

.info-value {
    display: inline-block;
}

table {
    border-collapse:collapse;
}

td {
    text-align:right;
}

td, th {
    font-size:1em;
    border:1px solid #3E8CD0;
    padding:3px 7px 2px 7px;
}

th {
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#4CAECC;
    color:#ffffff;
}

tr.alt td {
    color:#000000;
    background-color:#3E8CD0;
}
